html {
	font-family: ROBOTO, open-sans, sans-serif;
	--section-background-color: linear-gradient(to bottom left,
			rgba(255, 222, 222, 0.582),
			rgba(2, 78, 81, 0.904));

	--image-gradient: linear-gradient(to bottom left,
			rgba(17, 16, 16, 0.678),
			rgba(12, 10, 22, 0.863));
}

body {
	margin: 0;
	font-size: 1.3rem;
	font-family: ROBOTO, open-sans, sans-serif;
}

a,
button{
	cursor: pointer;
}

.app-home {
	min-height: 78vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.headline-container {
	display: flex;
	flex-direction: column;
	margin-top: 100px;

}

::-webkit-scrollbar {
	width: 14px;
	height: 22%;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
	border: 0px none #ffffff;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(25, 25, 25, 0.5);
}

::-webkit-scrollbar-thumb:active {
	background: rgba(0, 0, 0, 0.65);
}


::-webkit-scrollbar-track:hover {
	background: #654da800;
}

::-webkit-scrollbar-track:active {
	background: #20644e00;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

input[type="range"] {
	font-size: 1.5rem;
	// width: 12.5em;
}

@media (prefers-color-scheme: dark) {
	html {
		// background-color: rgb(214, 214, 214);
		scroll-behavior: smooth;
	}
}

/* === range commons === */
input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	// filter: brightness(100%);
	clip-path: polygon(100% -1px,
			var(--clip-edges) -1px,
			0 var(--clip-top),
			-100vmax var(--clip-top),
			-100vmax var(--clip-bottom),
			0 var(--clip-bottom),
			var(--clip-edges) 100%,
			var(--clip-further) var(--clip-further));
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

.main-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: default;
	width: 125px;

	img {
		width: 100%;
	}
}