.counter-container {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    a {
        color: white;
        text-decoration: none;
        padding: 15px;
        border: 2px solid white;
        border-radius: 8px;
        margin-top: 10px;
    }

    .fc-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        direction: rtl;

        .tbody {
            display: flex;
            flex-direction: column;
        }

        input {
            padding: 10px;
            border-radius: 4px;
            font-size: 1rem;
            margin: 5px;
        }

        .fc_button {
            width: 100%;
            background-color: rgb(255, 107, 107);
            color: white;
        }

        input {
            border-radius: 4px;
            border: none;
        }
    }

    img {
        width: 200px;
    }

    .counter-display {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 6rem;
    }
}